<html>
	<head>
		<title>SiteCIO</title>
		<%= stylesheet_link_tag 'application'%>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<div id="container">
			<header>
			</header>
			
			<div id="content">
				
			</div>
			
			<footer>
			</footer>
		</div>
	</body>
</html>
